* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 12px;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(236, 231, 231);
}
.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
/* 导航条设置 */
.nav {
    padding: 5px 0;
}
.nav ul {
    list-style: none;
}
.nav ul:nth-child(1){
    float: left;
}
.nav ul:nth-child(2){
    float: right;
}
.nav  li {
    float: left;
    margin: 0 5px;
}
.nav .frist{
    margin-left: 0;
}
.nav li a {
    color: rgb(146, 137, 136);
}
.nav li a:hover {
    color: #C40000;
}
.nav .iconfont {
    color: #C40000;
}
.nav .last{
    margin-right: 0;
}
/* 搜索块设置 */
.container-fuild2 {
    background-color: white;
}
.container-fuild2 img{
    margin-left: -50px;
}
.container .search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-left: 50px;
    margin-top: -15px;
}
.container-fuild2 .container .search input{
    width: 276px;
    height: 36px;
    outline: none;
    border: 2px solid #C40000;
    float: left;
    padding: 3px;
}
.container-fuild2 .container .search button {
    width: 110px;
    height: 36px;
    outline: none;
    background-color: #C40000;
    border: 2px solid #C40000;
    font-size: 1.5rem;
    color: white;
    float: left;
    font-weight: 500;
    cursor: pointer;
}
.container-fuild2 .container .search .label {
    margin-top: 3px;
}
.container-fuild2 .container .search .label a {
    margin: 0 15px;
}
.container-fuild2 .container .search .label a:nth-child(1){
    margin-left: 0;
}
/* 分类样式 */
.container-fuild3 {
    background-color: #DD2727;
}
.container-fuild3 .container {
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.container-fuild3 ul {
    list-style: none;
    margin-left: 280px;
}
.container-fuild3 .category {
    background-color: #C60A0A;
    height: 40px;
    padding: 5px 100px 5px 10px;
}
.container-fuild3 .category span{
    vertical-align: middle;
}
.container-fuild3 .category,
.container-fuild3 ul li {
    float: left;
}
.container-fuild3 ul li {
    margin-right: 35px;
    padding-top: 5px ;
}

.container-fuild3 .container .a{
    padding-top: 10px;
}
.container-fuild3 ul li a{
    color: white;
}
.container-fuild3 ul li img{
    height: 30px;
    vertical-align: middle;
}
/* 轮播设置 */
.container-fuild4 {
    background-color: rgb(238, 229, 229);
}
.container-fuild4 .lunbo {
    width: 100%;
    height: 460px;
    vertical-align: middle;
}
.container-fuild4 .list-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(226, 226, 227);
}
.container-fuild4 .list-nav .list {
    list-style: none;
}
.container-fuild4 .list-nav .list  li {
    padding: 4px 76px 4px 8px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: inherit;
    cursor: pointer;
    /* background-color: rgb(226, 226, 227); */
}
.container-fuild4 .list-nav .list .super {
    margin-bottom: 12px;
}
/* .container-fuild4 .list li:hover
 {
    background-color: white;
} */
.container-fuild4 .list-content {
    display: none;
    width: 100%;
    height: 460px;
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
}
.container-fuild4 .list-content a {
    font-size: 14px;
    color: rgb(150, 146, 146);
}
.container-fuild4 .list-content a:hover {
    color: rgb(238, 111, 89);
}
.container-fuild4 .list-content div {
    height: 50px;
    border-bottom: 1px dotted rgb(196, 192, 192);
    line-height: 50px;
    margin-left: 250px;
    margin-right: 50px;
}
.container-fuild4 .list-content div .item1,
.container-fuild4 .list-content div .item2,
.container-fuild4 .list-content div .item3,
.container-fuild4 .list-content div .item4 {
    margin-right: 20px;
}

.container-fuild5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fuild5 .container {
    padding: 30px 9px 30px 9px;
    padding-top: 30px;
    background-color: #f5f5f5;
}
.container-fuild5 .container .title {
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #646464;
    border-left: 6px solid tomato;
}
.container-fuild5 .container img {
    width: 100%;
}
.container-fuild5 .container img:hover {
    opacity: 0.7;
}
.container-fuild5 .imagelist {
    margin-bottom: 50px;
}
.container-fuild5 .imagelist .list {
    float: left;
    width: 186px;
    margin-right: 8px;
    padding-bottom: 8px;
    background-color: white
}
.container-fuild5 .imagelist .list:hover {
    border: 1px solid tomato;
}
.container-fuild5 .imagelist .list:nth-child(1) {
    margin-left: 8px;
}
.container-fuild5 .imagelist .list:nth-child(5) {
    margin-right: 0;
}
.container-fuild5 .descript a{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgb(102, 91, 91);
} 
.container-fuild5 .imagelist .list span {
    margin-left: 25px;
    font-size: 16px;
    color: tomato;
}
.container-fuild5 .container .finish {
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

.container-fuild6 {
    text-align: center;
    padding: 30px 5px;
    border-top: 1px solid rgb(180, 175, 175);
    border-bottom: 1px solid rgb(180, 175, 175);
}
.container-fuild6 img {
    vertical-align: middle;
}
.container-fuild7 {
    margin-bottom: 10px;
}
.container-fuild7 .container {
    display: -webkit-flex;
    justify-content: space-around;
}
.container-fuild7 .container .intro {
    margin-top: 20px;
}
.container-fuild7 .container .intro span a {
    color: #b9b3b3;
}
.container-fuild7 .container .intro h3 {
    font-size: 18px;
    margin-bottom: 6px;
}
.container-fuild7 .container .intro span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.container-fuild8 {
    background-color: black;
    border-top: 2px solid #C40000;   
    padding-bottom: 30px;
}
.container-fuild8 .container .cateye {
    display: block;
    margin-top: -33px;
}
.container-fuild8 .container .link {
    color: white;
    margin-bottom: 10px;
}
.container-fuild8 .container .link a {
    color: white;
}
.container-fuild8 .container .frist {
    margin-top: 10px;
    margin-bottom: 15px;
}
.container-fuild8 .container .frist span,
.container-fuild8 .container .second span {
    color: white;
}
.container-fuild8 .container .frist span {
    margin-left: 5px;
}
.container-fuild8 .container .second span {
    margin-left: 2px;
}
.container-fuild8 .container .third,
.container-fuild8 .container .four {
    color: #A4A4A4;
}
