.navbar-brand{
    padding: 10px 10px;
}
.navbar-brand img {
    border-radius: 3px;
}

.nav-list {
    margin-left: 90px;
}

.nav-list p {
    font-size: 16px;
    font-weight: bold;
}

.nav-list p a {
    text-decoration: none;
}

.nav-list p a:hover {
    color: #FA0B03;
}

.message p {
    font-size: 16px;
    font-weight: bold;
}
.message p a {
    text-decoration: none;
    color: #2E4053;
}

.list-bar .list-group-item {
    border: 0;
    margin-bottom:5px;
    font-weight: bold;
    text-align: center;
}


.post-list {
    width: 600px;
    height: 120px;
    padding: 3px 3px;
    border: none ;
}
.news-list img {
    border-radius: 5px;
    display: block;
    max-width: 100%;
}
.news-list a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #808B96;
}
.news-list a:hover {
    color: #FA0B03;
}
.span-img {
    margin-top: 10px;
}
.span-img img{
    display: inline-block;
    width: 25px;
}

.jum-right {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.side-bar-card {
    background: rgba(0, 0, 0, .1);
    margin-top: -5px;
    border-radius: 8px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
}
.list {
    padding: 6px 10px;
    color: #999;
}
.list .content a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #34495E;
}
.center-container {
    max-width: 500px;
}

.con-container {
    margin-left: 200px;
    margin-right: 150px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    color: #17202A;
}

.well {
    margin-top: 25px;
    color: #34495E;
    font-size: 15px;
    font-weight: bold;
    border-left: 3px solid #AEB6BF;
}
.img-content{
    width: 635px;
    height: 300px;
    background-image: url("images/dog3.jpg");
    background-size: 100% 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.content-text{
    margin-top: 10px;
}
.content-text p {
    font-size: 16px;
    line-height: 25px;
    color: #34495E;
    text-justify: inter-word;
    text-indent: 20px;
    font-weight: bold;
}